@model HDU_Website.Controllers.NewsRouterViewModel

@{
    ViewBag.Title = "ChiTietTinTuc";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script>
    $(document).ready(function () {
        let formData = {
            id: @Model.News.ID,
        }
        $.ajax({
            url: "/Home/Counting",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                // Handle any errors
                console.error(error);
            }
        });
    })
</script>

<div class="container">
    <div id="breadcrumb-bar" class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/" style="text-decoration: none; color: #001D85;">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("DanhMuc", "Home" , new { idDanhMuc=Model.DanhMuc.ID })" style="text-decoration: none; color: #001D85;">@Model.DanhMuc.TenDanhMuc</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.News.TieuDe</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="tintuc-title">
                @Model.News.TieuDe
            </div>
            <p class="realease-date" style="margin-bottom: 5px; font-size: 14px;">
                <i class="fa fa-calendar"></i><span>
                    @Model.News.NgayHienThi.Value.ToString("dd/MM/yyyy")
                </span>
            </p>
            <div class="tintuc-mota">
                @Model.News.MoTa
            </div>
            <div id="noidung">
            </div>
            <div id="fileNoiDung" style="display:none">
                <a id="download_file">Tải về</a><a id="download_url" style="margin-left: 5px; text-decoration: none; color: #000;"></a>
                <object id="pdf_view" class="d-block w-100" type="application/pdf"><p></p></object>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            @{
                Html.RenderAction("TinMoiCTTinTuc", "Home", new { id = int.Parse(@ViewBag.valueCauHinh), tieude = "Tin tuyển sinh" });
                Html.RenderAction("TinNoiBatCTTinTuc", "Home", new { id = 1, tieude = "TIN NỔI BẬT" });
            }
        </div>
    </div>
</div>
<script>
    function getImageSize(url) {
  var deferred = $.Deferred();
  var img = new Image();
  img.onload = function() {
    var width = this.width;
    var height = this.height;
    deferred.resolve({ width: width, height: height });
  };
  img.src = url;
  return deferred.promise();
}
$(document).ready(function (e) {
    var fileUrl = `@ViewBag.fileUrl`;
    if (fileUrl.trim()) {
        var fileNoiDung = document.getElementById("fileNoiDung");
        var download_url = document.getElementById("download_url");
        var pdf_view = document.getElementById("pdf_view");
        let url = 'http://media.hdu.edu.vn/' + fileUrl;
        fileNoiDung.style.display = "inline";
        pdf_view.style.height = "700px";
        download_url.textContent = url;
        $("#download_url").attr("href", url);
        $("#download_file").attr("href", url);
        $("#pdf_view").attr("data", url);
        $("#pdf_view").show();
    }
    var htmlString = `@Model.News.NoiDung`;
    htmlString = he.decode(htmlString);

    var tempElement = $('<div/>').html(htmlString);
    var images = tempElement.find('img');
    var divWidth = $('#noidung').width();

    var promises = [];

    images.each(function () {
    var $img = $(this);
    var imageSrc = $img.attr('src');
    var promise = getImageSize(imageSrc);

    promises.push(promise);

    promise.done(function (imgSize) {
        if (imgSize.width > divWidth) {
            $img.css('width', '100%');
            $img.css('height', 'auto');
            }
        });
    });

    $.when.apply($, promises).done(function () {
        var modifiedHtmlString = tempElement.html();
        $('#noidung').html(modifiedHtmlString);
    });

});
</script>