@model IEnumerable<HDU_Website.Controllers.NewsRouterViewModel>

<style>
</style>

<div class="" style="margin-bottom: 10px;">
    <h2 class="title-content"> <a href="http://hdu.edu.vn/tieu-diem-thang.html">TIÊU ĐIỂM: @ViewBag.NewsGroup</a></h2>
    @foreach (var item in Model)
    {
        string imageUrl = "http://media.hdu.edu.vn/" + item.News.HinhDaiDien;
        <div class="row" style="padding: 5px;">
            <div class="col-12">
                <ul class="timeline">
                    <li class="event-timeline">
                        <div class="timeline-link">
                            <a style="text-decoration: none" href="@Url.Action("ChiTietTinTuc", "Home", new {id = item.News.ID})" title="@item.News.TieuDe"> @item.News.TieuDe</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    }
    <div class="row">
        <div class=" col-12 text-end d-inline" style="align-items: end; margin-top: 10px; font-style: italic;">
            <a class="see-detail"
               title="Xem thêm"
               href="@Url.Action("DaoTao", "Home", new { idDanhMuc = ViewBag.IDGroup })"
               style="text-decoration: none; color: #fa9627;">
                Xem thêm >
            </a>
        </div>
    </div>

</div>