@model IEnumerable<HDU_Website.Controllers.NewsRouterViewModel>

<style>
    .line-clamp7 {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical
    }
    .post-text-detail-news {
        font-size: 1.0rem !important;
        line-height: 1.5;
        padding-right: 15px !important;
        overflow: hidden;
    }
    .text-align {
        text-align: justify;
    }

</style>

<div class="home-tin-moi-left">
    <h2 class="title-content"> <a href="http://hdu.edu.vn/hanh-chinh-to-chuc-su-kien.html" title="Tin tức - Sự kiện"> Tin tức - Sự kiện</a></h2>

    <div class="row" style="padding: 5px; color: #000;">
        @foreach (var item in Model.Take(1))
        {
            string imageUrl = "http://media.hdu.edu.vn/" + item.News.HinhDaiDien;
            <div class="post-main-new d-flex">
                <div class="row">
                    <div class="col-md-8 col-xl-8">
                        <div class="img-zoom">
                            <a title="@item.News.TieuDe"
                               href="@Url.Action("ChiTietTinTuc", "Home", new {id = item.News.ID})">
                                <img catcherror=""
                                     class="img-fluid img-main-new"
                                     lazyload=""
                                     alt="@item.News.TieuDe"
                                     src="@imageUrl" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class=" d-flex flex-column justify-content-between" style="height: 100%;">
                            <div>
                                <a style="text-decoration: none" href="@Url.Action("ChiTietTinTuc", "Home", new {id = item.News.ID})" title="@item.News.TieuDe"><h4 class="post-title-news text-align "> @item.News.TieuDe</h4></a>
                                <p class="post-text-detail-news line-clamp7 text-align">@item.News.MoTa</p>
                            </div>
                            <div class="new-event-time d-flex justify-content-between align-items-end">
                                <span>
                                    <i class="me-2 icon-credit-card"></i>
                                    <p style="margin-top: 0px; font-size: 14px;">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i><span style="color: #bd6602">
                                            @item.DanhMuc.TenDanhMuc
                                        </span>
                                        <br />
                                        <i class="fa fa-calendar"></i>
                                        <span>
                                            @item.News.NgayTao
                                        </span>
                                    </p>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>
    <div class="row" style="padding: 5px; color: #000;">
        @foreach (var item in Model.Skip(2))
        {
            string imageUrl = "http://media.hdu.edu.vn/" + item.News.HinhDaiDien;
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-6">
                        <a class="x-img text-align"
                           title="@item.News.TieuDe"
                           href="@Url.Action("ChiTietTinTuc", "Home", new {id = item.News.ID})">
                            <img catcherror=""
                                 lazyload=""
                                 class="img-fluid"
                                 alt="@item.News.TieuDe"
                                 src="@imageUrl" />
                        </a>
                    </div>
                    <div class="information col-6 text-align">
                        <p class="realease-date" style="margin-bottom: 5px; font-size: 14px;">
                            <i class="fa fa-calendar"></i><span>
                                @item.News.NgayTao
                            </span>
                        </p>
                        <a class="article-name text-align"
                           title="@item.News.TieuDe"
                           href="@Url.Action("ChiTietTinTuc", "Home", new {id = item.News.ID})"
                           style="text-decoration: none; text-align: justify; font-size: 14px;">
                            @item.News.TieuDe
                        </a>
                        <p style="margin-top: 5px; font-size: 14px;">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i><span style="color: #bd6602">
                                @item.DanhMuc.TenDanhMuc
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>