@model IEnumerable<HDU_Website.Models.SYS_CaiDatCauHinh>

<style>

    /*   .fixIcon {
        width: 49.16px;
        height: 49.16px;
        text-align: center;
    }

    .social-bar a {
        text-align: center;
        font-size: 17px;
    }*/
</style>


<footer class="footer-home bg-light">
    <div onclick="topFunction()" id="up-btn">
        <i id="icon" class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <script>
        let mybutton = document.getElementById("up-btn");

        window.onscroll = function () {
            scrollFunction();
        };
        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <section class="menu-footer">
        <div class="social-bar" style="z-index: 1;">
            <a class="zalo fixIcon" href="https://zalo.me/3813136038332668260" style="display: block;">
                <img width="28" height="28" style="padding: 0px" src="~/Content/images/zalo.png" />
            </a>
            <a href="https://www.facebook.com/DHHongDuc" class="facebook fixIcon">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="@("https://www.youtube.com/@hdu-tv")" class="youtube fixIcon">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="https://goo.gl/maps/bPNoVfiZMdWY3TuU8" class="location fixIcon"><i class="fa fa-map-marker"></i></a>
        </div>
    </section>
    @if (Model != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-4 left-footer">
                    <div class="col-12 logo text-center">
                        @{
                            var footerLeft = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Footer_Logo")).FirstOrDefault();
                            var logoUrl = "http://media.hdu.edu.vn/" + footerLeft.ValueCauHinh;
                            <a href="/">
                                <img src="@logoUrl"
                                     alt=""
                                     class="img-fluid" />
                            </a>
                        }
                    </div>
                    <div class="col-12 ">
                        @{
                            var footerInfo = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Footer_Info")).FirstOrDefault();
                            @Html.Raw(footerInfo.ValueCauHinh)
                        }
                    </div>
                </div>
                <div class="col-lg-4 right-footer">
                    @{
                        var footerCenter = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Footer_Middle")).FirstOrDefault();
                        @Html.Raw(footerCenter.ValueCauHinh)
                    }
                </div>
                <div class="col-lg-4 right-footer">
                    @{
                        var footerRigt = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Footer_Right")).FirstOrDefault();
                        @Html.Raw(footerRigt.ValueCauHinh)
                    }
                    <div class="location">
                        <h3 class="text-uppercase">Bản đồ chỉ dẫn</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3754.683431038226!2d105.77438067507822!3d19.768600129865078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3136f87eb8b4c8c5%3A0x88d1e9c521aef3a9!2zVHLGsOG7nW5nIMSQYcyjaSBIb8yjYyBIw7TMgG5nIMSQxrDMgWM!5e0!3m2!1svi!2s!4v1681889744315!5m2!1svi!2s" width="400" height="300" style="border:0;width:100%; height:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

            <div class="gototop">

            </div>
        </div>
    }
    <div id="fb-root"></div>
</footer>