@model IEnumerable<HDU_Website.Models.SYS_CaiDatCauHinh>

<style>
    .nav-link {
        color: #001D85;
        font-weight: bold;
    }

    .dropdown-menu li a {
        display: block;
        padding: 7px 16px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin: 5px 0px 0px 0px;
        border-bottom: 1px solid #ccc;
    }

    .dropdown-menu > li:last-child > a {
        border-bottom: none;
    }

    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5
    }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:focus,
    .dropdown-menu > .active > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #337ab7;
        outline: 0
    }
</style>

@{
    var logo = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Header_Logo")).FirstOrDefault();
    var TH1065DF_Header_LanguageEN = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Header_LanguageEN")).FirstOrDefault();
    var TH1065DF_Header_LanguageLAO = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Header_LanguageLAO")).FirstOrDefault();
    var TH1065DF_Header_LanguageVi = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Header_LanguageVi")).FirstOrDefault();
    var TH1065DF_Header_Search = Model.Where(n => n.KeyCauHinh.Equals("TH1065DF_Header_Search")).FirstOrDefault();
}

<script>
    $(document).ready(function () {
        function checkWindowSize() {
            if ($(window).width() <= 768) {
                $('#extension-area').hide();
                $('#header').css('background-color', 'white');
                $(".flag-country").css({
                    "width": 24 + "px",
                    "height": 24 + "px"
                });
            } else {
                $('#extension-area').show();
                $(".flag-country").css({
                    "width": 32 + "px",
                    "height": 32 + "px"
                });
            }
        }

        checkWindowSize();

        $(window).on('resize', checkWindowSize);
    });
</script>


<header id="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-8 d-flex aligns-items-center">
                <a class="navbar-brand" href="/">
                    @if (logo != null)
                    {
                        string url = "http://media.hdu.edu.vn/" + logo.ValueCauHinh;
                        <img id="banner" alt="Trang chủ" src="@url">
                    }
                    else
                    {
                        <img id="banner" alt="Trang chủ" src="@Url.Content("~/Content/images/logo-hdu-removebg-preview-20221108085539-e.png")">
                    }
                </a>
            </div>
            <div class="col-lg-8 col-4 text-end d-inline">
                <div class="row">
                    <form action="@Url.Action("TimKiem", "Home", new {query = "Tin"})">
                        @if (TH1065DF_Header_Search != null)
                        {
                            <input id="extension-area" type="text" placeholder="@TH1065DF_Header_Search.ValueCauHinh" name="query">
                            <input type="submit" hidden />
                        }
                        else
                        {
                            <input id="extension-area" type="text" placeholder="Tìm kiếm..." name="query">
                            <input type="submit" hidden />
                        }
                        &nbsp;&nbsp;&nbsp;
                        @if (TH1065DF_Header_LanguageVi != null && !string.IsNullOrEmpty(TH1065DF_Header_LanguageVi.ValueCauHinh))
                        {
                            <a href="@TH1065DF_Header_LanguageVi.ValueCauHinh"><img class="flag-country" src="~/Content/images/vietnam.png" width="32" height="32" /></a>
                        }
                        @if (TH1065DF_Header_LanguageEN != null && !string.IsNullOrEmpty(TH1065DF_Header_LanguageEN.ValueCauHinh))
                        {
                            <a href="@TH1065DF_Header_LanguageEN.ValueCauHinh"><img class="flag-country" src="~/Content/images/united-kingdom.png" width="32" height="32" /></a>
                        }
                        @if (TH1065DF_Header_LanguageLAO != null && !string.IsNullOrEmpty(TH1065DF_Header_LanguageLAO.ValueCauHinh))
                        {
                            <a href="@TH1065DF_Header_LanguageLAO.ValueCauHinh"><img class="flag-country" src="~/Content/images/laos.png" width="32" height="32" /></a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="~/Content/js/bootstrap.min.js">

</script>