@model IEnumerable<HDU_Website.Models.CMS_Menu>

<style>
    .menu ul li a {
        font-size: 16px;
        font-weight: normal;
        display: block;
        color: #033481;
        background: #fff;
    }

        .menu ul li a:hover,
        .menu ul li:hover > a {
            background: #033481;
            color: #fff;
        }
</style>

<div id="menu">
    <div class="container">
        <nav>
            <a class="responsive-menu" href="#" id="resp-menu"><i class="fa fa-reorder"></i> Menu</a>
            <ul class="menu">
                <li>
                    <a href="http://localhost:65031/"
                       class="menu-item text-uppercase">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="menu-item text-uppercase"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Giới thiệu<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 1026 })">Thư ngỏ của Hiệu trưởng</a>
                        </li>
                        <li><a href="@Url.Action("GioiThieu", "Home", new { id = 4180 })">Đảng ủy</a></li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 4131 })">Hội đồng trường</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 1030 })">Ban Gi&#225;m hiệu</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 1027 })">Lịch sử h&#236;nh th&#224;nh</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 4177 })">Chiến lược ph&#225;t triển</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 1028 })">Cơ cấu tổ chức</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 1029 })">Sứ mệnh v&#224; Tầm nh&#236;n</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 4187 })">C&#244;ng đo&#224;n</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GioiThieu", "Home", new { id = 4188 })">
                                Đo&#224;n Thanh ni&#234;n, Hội Sinh
                                vi&#234;n
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"
                       class="menu-item text-uppercase"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Tin tức<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("DaoTao", "Home", new { idDanhMuc = 1 })">Tin tức - sự kiện</a>
                        </li>
                        <li>
                            <a href="/tin-trong-nuoc-quoc-te.html">Tin trong nước, quốc tế</a>
                        </li>
                        <li>
                            <a href="#">Th&#244;ng b&#225;o</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"
                       class="menu-item text-uppercase"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Đ&#224;o tạo<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("DaoTao", "Home", new {idDanhMuc = 4})">Th&#244;ng tin đ&#224;o tạo</a>
                        </li>
                        <li>
                            <a href="http://qldtsdh.hdu.edu.vn/ttts-thong-bao-tuyen-sinh.html">Sau đại học</a>
                        </li>
                        <li>
                            <a href="http://qldt.hdu.edu.vn/dao-tao-chuong-trinh-dao-tao-dai-hoc.html">Đại học Ch&#237;nh quy</a>
                        </li>
                        <li>
                            <a href="http://ttgdtx.hdu.edu.vn/thong-tin-tuyen-sinh.html">Đại học LT, VLVH</a>
                        </li>
                        <li>
                            <a href="http://ttgdtx.hdu.edu.vn/">Bồi dưỡng ngắn hạn</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"
                       class="menu-item text-uppercase"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Khoa học c&#244;ng nghệ &amp; HTQT<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("DaoTao", "Home", new { idDanhMuc = 5 })">Th&#244;ng tin Khoa học</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn/tap-chi-khoa-hoc.html">Tạp ch&#237; khoa học</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn">Đề t&#224;i - Dự &#225;n</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn/cong-bo-kq-nc.html">C&#244;ng bố kết quả nghi&#234;n cứu</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn/bieu-mau-kh.html">Văn bản quản l&#253;</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DaoTao", "Home", new { idDanhMuc = 6 })">Tin hợp t&#225;c</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn/gioi-thieu-chung-plkhcn.html">Danh s&#225;ch hợp t&#225;c</a>
                        </li>
                        <li>
                            <a href="http://cthssv.hdu.edu.vn/">Chương tr&#236;nh li&#234;n kết</a>
                        </li>
                        <li>
                            <a href="http://qlkhcn.hdu.edu.vn/">Cơ hội v&#224; học bổng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"
                       class="menu-item text-uppercase"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Người học<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("DaoTao", "Home", new { idDanhMuc = 7 })">Tin hoạt động</a>
                        </li>
                        <li>
                            <a href="http://nckhxhnv.hdu.edu.vn/">Cựu sinh vi&#234;n</a>
                        </li>
                        <li>
                            <a href="http://cthssv.hdu.edu.vn/thong-bao.html">Học bổng - học ph&#237;</a>
                        </li>
                        <li>
                            <a href="http://cthssv.hdu.edu.vn/thong-tin-tuyen-dung.html">Hỗ trợ, hướng nghiệp - việc l&#224;m</a>
                        </li>
                        <li>
                            <a href="http://sinhvien.hdu.edu.vn/sinh-vien/tin-tuc/bieu-mau-sinh-vien.html">Văn bản - biểu mẫu</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="menu-item text-uppercase" href="http://hdu.edu.vn/bao-cao-3-cong-khai.html">Ba c&#244;ng khai</a>
                    @*<a class="menu-item text-uppercase" href="@Url.Action("GioiThieu", "Home", new { id = 13707 })">Ba c&#244;ng khai</a>*@
                </li>
                <li class="nav-item">
                    <a class="menu-item text-uppercase" href="http://hdu.edu.vn/kiem-dinh-chat-luong.html">Kiểm định chất lượng</a>
                </li>
            </ul>
        </nav>
    </div>
</div>